ansible==2.9.13
boto3==1.16.59
botocore==1.19.59
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
ibm-cloud-sdk-core==3.3.6
ibm-platform-services==0.17.7
ibm-vpc==0.4.1
idna==2.10
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
pycparser==2.20
PyJWT==2.0.1
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.25.1
s3transfer==0.3.3
six==1.15.0
urllib3==1.26.2